@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Deck of Cards Generator!</h1>
    <img src="https://www.snopes.com/uploads/2011/05/Getty-deck-of-cards-prayer.jpg" alt="Image of cards" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
